@charset "utf-8";

html {}

body {}


/* header */
header {
    background: #186AC9;
    position: relative;
}

.menu-container {
    display: flex;
    font-size: 25px;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 15px;
}

.menu-container h1 {
    font-size: 20px;
    color: #fff;
    width: 100px;
}

.atlas-logo {
    width: 110px;
    height: 40px;
    margin: 25px;
}

/* main content */
#row {
    display: flex;

}

#container {
    flex: 0 0 80%;
}


/* アコーディオンメニュー */
.accordion {
    width: 100%;
    max-width: 400px;
}


.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #176bca;
    cursor: pointer;
    font-weight: bold;
}

.headUserName {
    color: #fff;
}

.headUserName p {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
}

.arrow {
    display: inline-block;
    /* 回転にはこれが必要 */
    transform: rotate(90deg);
    /* 時計回りに90度回転 */
    color: #fff;
}

.accordion-header .arrow {
    transition: transform 0.3s ease;
}

.accordion-header.is-active .arrow {
    transform: rotate(270deg);
}

.accordion-content {
    display: none;
    background: #fff;
    position: absolute;
    right: -25px;
    top: 75px;
    width: 290px;
    z-index: 9999;
    border: 2px solid #00297e;

    ul {
        margin: 0;
    }

    li {
        border-top: 1px solid #000;
        align-items: center;
        font-size: 20px;
        padding: 30px;
    }

    a {
        color: #727272;
        text-decoration: none;
        text-align: center;
    }
}

.accordion-content ul :hover {
    background-color: #00297e;
    color: #fff;
    text-decoration: none;
}


.accordion-content.is-open {
    display: block;
}


.headerIcon-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.edit-button {
    display: inline-block;
    background: url('/images/edit.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
}

.edit-button:hover {
    background-image: url('/images/edit_h.png');
}

.delete-button {
    background: url('/images/trash.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
}

.delete-button:hover {
    background-image: url('/images/trash-h.png');
}


/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.icon-logo {
    width: 50px;
    height: 50px;
    margin-left: 80px;
    border-radius: 50%;
    /* ←円形にする */
    object-fit: cover;
    /* ←画像を中央でトリミング */
}


.text_post {
    font-size: 18px;
    border: none;
    outline: none;
    padding-left: 20px;
    width: 500px;


}

.text_post::placeholder {
    color: #d6d6d6;
    /* 薄めのグレー */
}

.text_box {
    height: 150px;
    border-bottom: 8px solid #d6d6d6;
    /* 下にグレーの線 */
}

.text_container {
    margin-top: 20px;
    position: relative;
}

.btn_post {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 150px;
    top: 80px;
}

.PostIcon-logo {
    margin-left: 130px;
    width: 50px;
    height: 50px;
    margin-left: 90px;
    border-radius: 50%;
    /* ←円形にする */
    object-fit: cover;
    /* ←画像を中央でトリミング */
    background-color: #fff;
    /* ←透明画像の背景補填（任意） */
    position: absolute;

}

.post-container {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 150px;
}

.post {
    position: relative;
}

.post-time {
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 1px;
}

.ListPost {
    position: relative;
    height: 100px;
    border-bottom: 1px solid #474747;
    padding-bottom: 10px;

}

.btnsUpDate {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
}

/* サイドバー */
#side-bar {
    flex: 0 0 20%;
    min-height: 800px;
    border-left: 1px solid #727272;
}

.confirm {
    border-bottom: 1px solid #474747;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 10px;
}

.confirm-follow {
    display: flex;
    /* 横並びにする */
    align-items: center;
    /* 縦位置を中央に揃える */
    gap: 35px;
    /* ← この1行で間隔を調整！ */
}

#confirm-follower {
    display: flex;
    /* 横並びにする */
    align-items: center;
    /* 縦位置を中央に揃える */
    gap: 25px;
    /* ← この1行で間隔を調整！ */
}

.btn-follow-container {
    margin: 10px 0 20px 100px;
}

.btn-follow {
    background-color: #0955ce;
    color: #fff;
    font-size: 12px;
    padding: 10px 1px;
    border-radius: 5px;
    width: 120px;
    /* 固定幅(幅変更）にする */
    text-align: center;
    /* テキストを中央寄せ */
    display: inline-block;
    /* 幅を効かせるため */

}

.btn-search-container {
    text-align: center;
    margin-top: 30px;
}

.btn-search {
    background-color: #0955ce;
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
}



/* プロフィールフォーム */
.profile_form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
}

.profile-icon {
    margin-right: 40px;
}

.profile_wrapper {
    display: flex;
    flex-flow: column;
    align-items: baseline;

}

.profile_items {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}

.profile_label {
    font-size: 18px;
    width: 200px;
}

.profile_input {
    width: 300px;
    height: 35px;
    font-size: 14px;
    background-color: #efefef;
    outline: none;
    border: #474747 solid 1px;
}

.profile_items2 {
    padding: 30px 50px;
    outline: #727272 solid 1px;
    background-color: #efefef;
}

.profile_input_image {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
}

.profile_input_image::file-selector-button {
    background-color: #fff;
    border: none;
    width: 200px;
    font-size: 19px;
    color: #727272;
    margin-bottom: 5px;
    cursor: pointer;
}

.profile_btn_container {
    margin: 0 auto;
    margin-top: 20px;
}

.btn {
    width: 140px;
    height: 30px;
}

.btn-profile {
    font-size: 14px !important;
}

/* ユーザー検索ページ */

.search-header {
    padding: 50px;
    display: flex;
    font-size: 23px;
    border-bottom: 8px solid #d6d6d6;
    align-items: center;
}

.search-btn-container {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
}

.btn-glass {
    width: 40px;
    height: 40px;

}

.user-list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.user-list-wrapper ul {
    display: flex;
    align-items: center;
    margin: 0;
    /* ↑ulを使うとデフォルトでmargin_bottomが入っているから、０にしてあげてる */

}

.search-btn {
    margin-right: 350px;
    margin-top: 10px;
}


.search-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 280px;
}

.username-list {
    font-size: 19px;
    margin-left: 40px;
}

/* フォローリスト */

.FollowList-header {
    display: flex;
    border-bottom: 8px solid #d6d6d6;
    padding: 30px;
}

.FollowList-header h2 {
    margin-top: 10px;
}

.FollowList-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* ←円形にする */
    object-fit: cover;
    /* ←画像を中央でトリミング */
    background-color: #fff;
    /* ←透明画像の背景補填（任意） */
    margin-right: 5px;
    margin-bottom: 8px;
}

.LineIcons {
    margin-left: 30px;
    margin-right: 300px;
}


/* フォロワーリスト */

.FollowerList-header {
    display: flex;
    border-bottom: 8px solid #d6d6d6;
    padding: 30px;
}

.FollowerList-header h2 {
    margin-top: 10px;
}

.FollowerList-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* ←円形にする */
    object-fit: cover;
    /* ←画像を中央でトリミング */
    background-color: #fff;
    /* ←透明画像の背景補填（任意） */
    margin-right: 5px;
    margin-bottom: 8px;
}

.LineIcons {
    margin-left: 30px;
}


/* モーダル */
.modal_main {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, .3);
}

.modal_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 45%;
    background-color: #FFFFFF;
    color: #666666;
    position: fixed;
    top: 30%;
    left: 20%;
    z-index: 5;
    border-radius: 10px;
}

.modal_text {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60%;
}

.btn_modal {
    position: absolute;
    left: 47%;
    top: 78%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}


/* 他ユーザーのプロフィール */

.UserProfile {
    position: relative;
    border-bottom: 8px solid #d6d6d6;
}

.UserProfile-btn {
    position: absolute;
    right: 40px;
    top: 70px;
}

.UserProfile-text {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.UserProfile-container {
    display: flex
}
